{% extends 'basead.html' %}
{% load paystack %}

{% block body %}
<div class="container">

    <div class="row">
        <div class="col-md-8">
          <br>

            <div class="card">

                <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.post }}
                            {{ form.videofile }}
                            <br>
                            <button type="submit" class="pull-right">Submit</button>
                        </form>
                        <h2>{{ text }}</h2>
                </div>
              </div>
            {% for post in posts %}
                <div class="card">
                    Posted by {{ post.user.username }} on {{ post.created }}
                    <div class="card-body">
                        <hr>
                        {{ post.post }}
                        <br/>
                        {% if post.videofile %}
                            <video width="450" height="300" controls>
                                <source src={{ post.videofile.url }}>
                            </video>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% paystack_button amount=2000 email="sesughdtyohemba@gmail.com" %}


        </div>
        <div class="col-md-3 sticky">
            <br>
            <div class="card cardi">
                <div class="card-head">
                    <h4>Related Businesses</h4>
                </div>
                <div class="card-body">
                    <div class="row">

            <div class="people-nearby">
                {% for user in users %}
                   {% if not user in friends %}

			<div class="nearby-user">
                <div class="row">
                  <div class="col-md-3 col-sm-3">
                    <img src="{{ user.user_profile.image.url_60x60 }}" alt="user" class="profile-photo-lg">
                      <p><a href="{% url 'change_friends' operation='add' pk=user.pk %}">
						<button class="btn btn-primary">Follow</button>
					  </a></p>
                  </div>
                  <div class="col-md-7 col-sm-7">
                    <h6><a href="{% url 'view_profile' pk=user.pk %}" class="profile-link">{{ user.username }}</a></h6>
                    <p>Software Engineer</p>

                  </div>
                  <div class="col-md-2 col-sm-2">

                  </div>
                </div>
              </div>
				{% endif %}
			{% endfor %}


            </div>


                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}
