{% extends 'basead.html' %}


{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row py-5 px-4">
    <div class="col-xl-10 col-md-6 col-sm-10 mx-auto">

        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    <div class="profile mr-3"><img src="{{ user.user_profile.image.url_100x100 }}" alt="..." width="130" class="rounded mb-2 img-thumbnail"><a href="#" class="btn btn-dark btn-sm btn-block">Edit profile</a></div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{ user.username }}</h4>
                        <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i></p>
                    </div>
                </div>
            </div>

            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
						<a class="btn btn-block btn-social btn-twitter">
                            <button class="btn btn-primary">
                                <span class="fa fa-twitter"></span> Follow
                            </button>
                          </a>
					</li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">241</h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Photos</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">84K</h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Followers</small>
                    </li>
                </ul>
            </div>

            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Recent Updates</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-8">

                        {% for post in posts %}
                            <div class="card">
                                <p>Posted by {{ post.user.username }} on {{ post.created }}</p>
                                <div class="card-body">
                                    <h1>{{ post.post }}</h1>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-4 col-md-8">
                         <div class="card">
                            <h2>Friends</h2>
                            {% for friend in friends %}

                                    <div class="row">
                                            <div class="col-lg-3 col-sm-3">
                                                <a href="{% url 'view_profile' pk=friend.pk %}">
                                                    <img src="{{ friend.user_profile.image.url_60x60 }}"/>
                                                    {{ friend.username }}
                                                </a>

                                            </div>
                                    </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>


            </div>
        </div><!-- End profile widget -->

    </div>
</div>
</div>

{% endblock %}
