{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<title>{% block head_title %}{% endblock %}</title>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/user_registration.css' %}">
<style>
#bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

</style>

</head>
<body id="bg" style="background-image: url({% static 'assets/img/sugos.jpg'%})">

{% include 'header.html' %}

{% block content %}{% endblock %}

{% include 'footer.html' %}


</body>
</html>
